<div class="container">
	<div class="jumbotron text-center">
		<div class="page-header label label-lg label-info">
			<h1><%= titulo %></h1>
		</div>
		<h2>Escrito por: <%= author %></h2>
		<div class="content">
			<p><%= contenido %></p>
		</div>
		<a href="/" class="btn btn-split btn-danger">Voler al Inicio</a>
	</div>
</div>

