<div class="container">
	<ul class="list-group">
		<div class="jumbotron text-center">
			<li class="list-group-item">
				<h1><a class="label label-info" href="findPost?titulo=<%= titulo %>"><%= titulo %></a></h1><br>
				<h2>Escrito Por: <%= author %></h2>
				<p><%= contenido %></p>
			</li>
			<a href="/" class="btn btn-lg btn-danger">Volver</a>
		</div>
	</ul>
</div>