<div class="container">
    <div class="jumbotron text-center">
        <div class="page-header">
            <h1>Eliminar Usuario</h1>
        </div>
        <div class="row-fluid">
        	<form method="post" action="/user/delete">
        		<div class="control-group">
        			<label for="username">Username</label>
        			<input class="form-control" name="username" type="text" placeholder="Digite el usuario a eliminar"/>
        		</div>

        		<div class="control-group">
        			<input type="submit" value="Eliminar" class="btn btn-success btn-lg" />
        		</div>
        	</form>
        </div>
    </div>
</div>
