<div class="container">
	<div class="jumbotron text-center">
		<div class="page-header">
			<h1>Te has Logueado con éxito</h1>
		</div>
		<h2><%= username %></h2>
		<a href="/" class="btn btn-lg btn-success">Ir al Inicio!</a>
	</div>
</div>