<div class="container">
	<div class="jumbotron text-center">
		<div class="page-header ">
			<h1>Usuario Creado</h1>
		</div>
		<div class="text-center row-fluid">
			<div class="label label-lg">
				<h2>Username:</h2>
			</div>
				<big><%= username %></big>
			<div class="label label-lg">
				<h2>Creado el:</h2>
			</div>
				<big><%= createdAt %></big>
		</div>
	</div>
</div>
