<div class="container">
	<div class="row-fluid jumbotron " align="center">
		<div class="page-header">
			<h1>Registrarse en la Aplicación</h1>
		</div>
		<form method="post" action="/create">
			<div class="input-group">
				<label for="username" >Username</label>
				<div class="controls">
					<input name="username" type="text" placeholder="Ingresa tú Username" class="form-control" />
				</div>
			</div>
			<div class="input-group">
				<label for="password">Password</label>
				<div class="controls">
					<input type="password" name="password" placeholder="Ingresa tú contraseña" class="form-control" />
				</div>
			</div>
			<br>
			<div class="control-group">
					<input type="submit" value="Entrar" class="btn btn-success btn-lg" />
			</div>
		</form>
	</div>
</div>